<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>News Recommendation</title>
<style>
  /* Style for the logout link container */
  #logoutContainer {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
  }
</style>
</head>
<body>
  <!-- Logout link container -->
  <div id="logoutContainer">
    <a href="/logout">Logout</a>
  </div>

  <h1>General News</h1>
  <div id="categoryMenu">
    <select id="categorySelect">
      <option value="all">All Categories</option>
      {% for category in categories %}
      <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select>
  </div>

  <div id="newsList">
    {% for news_item in news_list %}
    <p>{{ news_item.headline }} (Category: {{ news_item.category }}) <a href="/news/{{ news_item.id }}">(Read More)</a></p>
    {% endfor %}
  </div>

  <script>
    const categorySelect = document.getElementById('categorySelect');

    // Event listener for category selection change
    categorySelect.addEventListener('change', () => {
      const selectedCategory = categorySelect.value;
      if (selectedCategory !== 'all') {
        window.location.href = `/category/${selectedCategory}`;
      } else {
        window.location.href = '/';
      }
    });
  </script>
</body>
</html>
