<!-- templates/select_category.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Select Category</title>
</head>
<body>
    <h1>Select Your Preferred Category</h1>
    <form method="post">
        <label for="technology">
            <input type="checkbox" name="category" id="technology" value="technology"> Technology
        </label><br>
        <label for="sports">
            <input type="checkbox" name="category" id="sports" value="sports"> Sports
        </label><br>
        <label for="health">
            <input type="checkbox" name="category" id="health" value="health"> Health
        </label><br>
        <label for="business">
            <input type="checkbox" name="category" id="business" value="business"> Business
        </label><br>
        <label for="food">
            <input type="checkbox" name="category" id="science" value="science"> science
        </label><br>
        <label for="politics">
            <input type="checkbox" name="category" id="entertainment" value="entertainment"> entertainment
        </label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>